#root {
  color: rgb(20, 12, 12);

}

#displayInput{
  display: flex;
  /* justify-content: space-around; */
  /* width: 30%; */
}
.episodeDiv{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 10px;

}
.summaryContainer > p{
  color: rgb(12, 7, 7);
  margin-right:10%;
  text-align: justify; 

}

.summaryContainer > h4{
  text-align: center;
  border: 2px solid green;
  border-radius: 10px;
  height: 30px;
  padding-top: 5px;
  margin-top: 0px;
}

.summaryContainer{
  background-color: rgb(206, 179, 202);
  border-radius: 10px;

}

.footer{
  
  padding:2em 0 2em;
}

.showDiv{
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  
  

}
.showContainer{
  /* border: 2px solid green;
  border-radius: 10px; */
  padding: 10px; 
  background-color: rgb(206, 179, 202);
  margin-top:0%;
/* text-align: justify; */
}

/* .showContainer {
  


  /* border: 2px solid green;
  border-radius: 10px;
  height: 30px;
  padding-top: 5px;
  margin-top: 0px; */

.showPara {
  color: rgb(12, 7, 7);
  margin-right:10%;
  text-align: justify; 
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px #b6a2b4;
  
}
.divEl{
  margin: 5px;
  display: flex;
  justify-content:space-evenly;
  text-align: left;
}

.header{
  border: 2px solid green;
  border-radius: 10px;
  text-align: center;
}